
body {
	margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	font-family: 'Lato', sans-serif;
	color: white;
}

body.animated {
	animation: gradient 15s ease infinite;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

p {
	margin: 0;
}

#mainContent {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1em;
}

#buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}

.btn {
	font-size: 1em;
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	border-radius: 0.25em;
	border: 1px solid white;
	padding: 10px 15px;
	background-color: transparent;
	color: white;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.btn:hover, .btn:focus {
	background-color: white;
	color: black;
}

.btn#settingsBtn:hover img, .btn#settingsBtn:focus img {
	filter: invert(1);
	animation: cogSpin 0.5s ease;
}

h1 {
	margin: 0 0 0.67em 0;
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
}

.btnContainer {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 1;
}

.infoBtn, .closeBtn {
	font-family: consolas;
	font-size: 1.5em;
	font-weight: bold;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#infoPanel {
	overflow-y: auto;
}

.panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 292px;
	padding: 0 30px;
	background-color: white;
	color: black;
	border-radius: 0 20px 20px 0;
	transition: left 0.25s;
}

.panel.offsetLeft {
	left: -352px;
}

.panel h2 {
	padding-top: 50px;
}

.panel p {
	padding-top: 15px;
}

.closeBtn.inverse {
	border: 1px solid black;
	color: black;
}

.closeBtn.inverse:hover, .closeBtn.inverse:focus {
	filter: invert(1);
}

.closeBtn {
	position: absolute;
	top: 32px;
	left: 270px;
}

.hidden {
	display: none;
}

#breakMsgContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(51, 51, 51, 0.75);
}

#breakMsgContainerHidden {
	display: none;
}

#settingsBtn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	margin-left: 10px;
}

#settingsBtn img {
	width: 25px;
	height: 25px;
	color: white;
	position: relative;
	left: -3px;
}

.breakMsg {
	color: black;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	padding: 30px;
}

.breakMsg h2 {
	font-size: 2em;
	padding-bottom: 10px;
}

.settingsContent {
	margin-top:10px;
}

fieldset {
	border: 1px solid #000;
	border-radius: 0.25em;
	margin-top: 20px;
	padding: 15px 15px;
}

fieldset legend {
	padding: 0.25em 0.75em;
}

fieldset label {
	margin-right: 20px;
}

[type="radio"] {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px;
	overflow: hidden; 
	position: absolute; 
}

[type="radio"] + span {
	margin: 3px;
	padding: 5px;
}

[type="radio"] + span:before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -0.25em;
	border-radius: 1em;
	border: 0.125em solid #fff;
	box-shadow: 0 0 0 0.15em #000;
	margin-right: 0.75em;
	transition: 0.5s ease all;
}

[type="radio"]:checked + span:before {
	background: #23a6d5	;
	box-shadow: 0 0 0 0.25em #000;
}

[type="radio"]:focus + span {
	content: '';
	outline: dotted;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes cogSpin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(60deg)
	}
}